@charset "UTF-8";

.section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px 0 50px;
    min-height: calc(100vh - 410px);
    display: inline-block;
		}
h1 {
	text-align: center;
	font-size: 25px;
}

.graph1 {
	display: inline-block;
	margin: auto;
	margin-top: 15px;
}

.graph2 {
	border: 1.5px solid #4d4d4d;
    width: 350px;
    height: 350px;
    float: left;
    margin-left: 15px;
/*     display: inline-block;	 */
}

table.type09 {
    border-collapse: collapse;
/*     text-align: left; */
    line-height: 0.5;
/*     display: inline-block; */
	margin: auto;

}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #000;
    border-bottom: 3px solid #000;
}
table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}


/* 성적 분석 테이블 */

.ul, li{ 
    list-style:none;
    text-align:center;
    padding:0;
    margin:0;
    font-size: 20px;
   }

#mainWrapper{
   	width: 1000px;
	margin: 0 auto; /*가운데 정렬*/
}

/* #mainWrapper > ul > li:first-child { */
/* 	text-align: center; */
/* 	font-size: 30px; */
/* 	height:40px; */
/* 	vertical-align:middle; */
/* 	line-height:30px; */
/* } */

/* #ulTable {margin-top:30px;} */

.a {
	text-decoration: none;
	color : black;
}


ul li .text {
    /* font-size: 20px; */
    font-size: 20px;
    text-align: left;
}

#ulTable > li .table {
	background-color:#c9c9c9;
	font-weight:bold;
	text-align:center;
}

#ulTable > li > ul {
   	clear:both;
   	padding:0px auto;
   	position:relative;
   	min-width:40px;
   }
#ulTable > li > ul > li { 
   	float:left;
   	font-size:10pt;
   	border-bottom:1px solid silver;
   	vertical-align:baseline;
   	padding: 15px 0;
   }    

#ulTable > li > ul > li:first-child           		{width:10%;} /*No 열 크기*/
#ulTable > li > ul > li:first-child +li       		{width:10%;} /*제목 열 크기*/
#ulTable > li > ul > li:first-child +li+li    		{width:10%;} /*작성일 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li 		{width:35%;} /*작성자 열 크기*/
#ulTable > li > ul > li:first-child +li+li+li+li	{width:25%;} /* 조회수 열 크기 */
#ulTable > li > ul > li:first-child +li+li+li+li+li {width:10%;} /* 조회수 열 크기 */

#divPaging {
	padding-top: 44px;
	clear:both; 
	margin:0 auto; 
	width:220px; 
	height:50px;
}

#divPaging > div {
 float:left;
 width: 30px;
 margin:0 auto;
 text-align:center;
 }

#liSearchOption {clear:both;}
#liSearchOption > div {
 margin:0 auto; 
 margin-top: 30px; 
 width:auto; 
 height:100px; 

}






